<!-- LAYOUT -->
<div class="flex justify-center flex-col px-20">
    <h1 class="text-center mb-20 text-3xl">UI-KIT</h1>
    <div class="flex items-center justify-between border-b-2 border-gray-300 py-10">
        <h3 class="text-xl">Titles</h3>
        <div class="flex justify-center items-center">
            <h1 class="text-3xl">H1: App Padel</h1>
            <h2 class="text-2xl">H2: App Padel</h2>
            <h3 class="text-xl">H3: App Padel</h3>
            <h4 class="text-lg">H4: App Padel</h4>
            <h5 class="text-base">H5: App Padel</h5>
        </div>
    </div>
    <div class="flex items-center justify-between border-b-2 border-gray-300 py-10">
        <h3 class="text-xl">Fonts family</h3>
        <div class="flex justify-center items-center">
            <p>Ligth: App Padel</p>
            <p>Regular: App Padel</p>
            <p>Bold: App Padel</p>
        </div>
    </div>
    <div class="flex items-center justify-between border-b-2 border-gray-300 py-10">
        <h3 class="text-xl">Palette color</h3>
         <div class="flex justify-center items-center py-3 px-6 rounded-full bg-blue-500 ">
            <span>Blue</span> 
        </div>
        <div class="flex justify-center items-center py-3 px-6 rounded-full bg-red-500 ">
            <span>Red</span> 
        </div>
        <div class="flex justify-center items-center py-3 px-6 rounded-full bg-green-500 ">
            <span>Green</span> 
        </div>
    </div>
    <div class="flex items-center justify-between border-b-2 border-gray-300 py-10">
        <h3 class="text-xl">Icons</h3>
        <fa-icon size="2x" [icon]="userIcon"></fa-icon>
        <fa-icon size="2x" [icon]="menuIcon"></fa-icon>
        <fa-icon size="2x" [icon]="searchIcon"></fa-icon>
    </div>
    <div class="flex items-center justify-between border-b-2 border-gray-300 py-10">
        <h3 class="text-xl">Palette color</h3>
         <button class="flex justify-center items-center rounded-md min-w-100 py-2 bg-blue-500 border border-blue-600">
            <span>Blue</span> 
        </button>
        <button class="flex justify-center items-center rounded-md min-w-100 py-2 bg-red-500 border border-red-600">
            <span>Red</span> 
        </button>
        <button class="flex justify-center items-center rounded-md min-w-100 py-2 bg-green-500 border  border-green-600">
            <span>Green</span> 
        </button>
    </div>
   
</div>

